@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/iraniansans/IRANSansXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/iraniansans/IRANSansXFaNum-Regular.woff2') format('woff2');	
}